doctype html
html
	head
		include header
	body
		include counters
		block works_bg
		.maket
			.main_block
				.menu_block
					.menu_block_inner
						a.logo(href='/')
						.menu_items
							.menu_items_inner
								a(href='/works') Работы
								a(href='/publish') Публикации
								a(href='/blog') Блог
								a(href='/contacts') Контакты
						.toggle_lang_block EN
				.content_block
					block content
				.footer_block
					block footer