extends ../layout

block title
	title Главная

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)

block content
	each work in works
		.work_block
			.work_title= work.ru.title
			.work_description= work.ru.description
			//- each image in work.images
			//- 	img(src=image.path)