extends ../layout

block title
	title НАРОДНЫЙ АРХИТЕКТОР

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)

block append works_bg
	.background_works
		each work in works
			.background_item(style='background-image: url(' + work.images[0].path + ')')

block content
	.works_block
		- tags = {'urbanism':'Урбанизм', 'architecture':'Архитектура', 'urban_projects':'Городские проекты', 'exhibitions':'Выставки', 'industrial_design':'Промышленный дизайн', 'navigation':'Навигация', 'graphic_design':'Графический дизайн'}
		each work in works.reverse()
			.work_item
				.work_logo
					!= work.logo
				.work_tag= tags[work.tag]
				.work_title
					a(href='/works/' + work.w_id)= work.ru.title