extends ../layout

block title
	title Главная

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/main.js' + version)

block content
	img.logo_block(src='images/design/logo.png')
	.works_block
		each work in works
			.work_item
				.work_tag= work.tag
				.work_title
					a(href='/works/' + work._id)= work.ru.title