extends ../../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')
	script(type='text/javascript', src='/scripts/mfupload.js')
	script(type='text/javascript', src='/scripts/jquery-ui-1.10.3.custom.min.js')

block content
	.form_block
		a.back_link(href='/auth') < Назад
		.page_title ДОБАВИТЬ РАБОТУ
		.title(contenteditable) Заголовок
		.description(contenteditable) Описание
		select(name='tag')
			option(value='design') Урбанизм
			option(value='graphic') Архитектура
			option(value='art') Городские проекты
			option(value='graphic') Выставки
			option(value='graphic') Промышленный дизайн
			option(value='graphic') Навигация
			option(value='graphic') Графический дизайн
		//- /auth/add/work
		.img_upload
		.sub Отправить
