extends ../../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')
	script(type='text/javascript', src='/scripts/add_work.js')
	script(type='text/javascript', src='/scripts/mfupload.js')
	script(type='text/javascript', src='/scripts/jquery-ui-1.10.3.custom.min.js')

block content
	.form_block
		a.back_link(href='/auth') < Назад
		.page_title ДОБАВИТЬ РАБОТУ
		.title(contenteditable) Заголовок
		.w_logo(contenteditable) Лого
		.description(contenteditable) Описание
		select(name='tag')
			option(value='urbanism') Урбанизм
			option(value='architecture') Архитектура
			option(value='urban_projects') Городские проекты
			option(value='exhibitions') Выставки
			option(value='industrial_design') Промышленный дизайн
			option(value='navigation') Навигация
			option(value='graphic_design') Графический дизайн
		.img_upload
		.sub Отправить
