extends ../layout

block title
	title РАБОТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/works.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/works.js' + version)

block content
	.works_block
		each work in works
			a.work_item(href='/works/' + work._id, class=work.tag + ' ' + work.date.getFullYear())
				.work_images
					each image in work.images
						.work_image(style='background-image: url(' + image.path + ')')
				.work_logo= work.logo
				.work_title= work.ru.title
	.works_tags_sort_block
		.sort_item.clear Все
		.sort_item.tags По категориям
		.sort_item.year По годам