extends ../layout

block title
	title РАБОТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/works.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/works.js' + version)

block content
	.content_block_inner
		.works_block
			each work in works
				a.work_item(href='/works/' + work.w_id, class=work.tag + ' ' + work.date.getFullYear() + ' ' + work.publish)
					.work_images
						each image, i in work.images
							- var dir_path = image.path.slice(0,38)
							- var img_name = image.path.split('/')[4]
							if (i == 0)
								.work_image(style='background-image: url(' + dir_path + '/small/' + img_name + '); ' + 'opacity: 1;' )
								.work_image_big(style='background-image: url(' + dir_path + '/' + img_name + '); ' + 'opacity: 1;' )
							else
								.work_image(style='background-image: url(' + dir_path + '/small/' + img_name + '); ' + 'opacity: 0;' )
								.work_image_big(style='background-image: url(' + dir_path + '/' + img_name + '); ' + 'opacity: 1;' )
							//- .work_image(style='background-image: url(' + image.path + ')')
					.work_logo
						!=work.logo
					.work_title= work.ru.title
		.works_tags_sort_block
			.sort_item.clear Все
			.sort_item.tags По категориям
			.sort_item.year По годам
			.sort_item.archive Архив