extends ../layout

block title
	title РАБОТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/works.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/works.js' + version)

block content
	.works_block
		- tags = {'urbanism':'Урбанизм', 'architecture':'Архитектура', 'urban_projects':'Городские проекты', 'exhibitions':'Выставки', 'industrial_design':'Промышленный дизайн', 'navigation':'Навигация', 'graphic_design':'Графический дизайн'}
		each work in works
			.work_item(class=work.tag)
				.work_inner(style='background-image: url(/images/design/logo4.png)')
					.work_title= work.ru.title
					.work_tag= tags[work.tag]