extends ../layout

block title
	title= work.ru.title
	meta(name='description', content=work.meta.description)

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/work.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/work.js' + version)

block append works_bg
	.background_works
		each iamge in work.images.reverse()
			.background_item(style='background-image: url(' + iamge.path + ')')

block content
	.work_description_block
		.work_title= work.ru.title
		.work_description
			!= work.ru.description