extends ../layout

block title
	title ОШИБКА 500

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/error.css' + version)

block content
	.error_container
		.error_title ОШИБКА
		.error_code 500