extends ../layout

block title
	title КОНТАКТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)
	link(rel='stylesheet', type='text/css', href='/styles/contacts.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)

block content
	.map_block
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d561.1729932205412!2d37.61313523832678!3d55.7638529066877!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a43f0092ced%3A0x1e19f15d2f06df1b!2z0YPQuy4g0JHQvtC70YzRiNCw0Y8g0JTQvNC40YLRgNC-0LLQutCwLCAyNCwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8!5e0!3m2!1sru!2s!4v1390567593539" width="1240" height="450" frameborder="0" style="border:0"></iframe>
	.about_block
		.about_title НАРОДНЫЙ АРХИТЕКТОР
		.about_description
			p 107031 Россия, Москва, ул. Большая Дмитровка, д. 24.
			p Ближайшие станции метро - Тверская, Чеховская, Пушкинская, Театральная.
			p +7 (495) 629-03-40
			a(href='mailto:mail@nrdn.ru') mail@nrdn.ru
	.partners_block
		.partners_title НАШИ ПАРТНЕРЫ
		.partners_list
			a.patner_item(href='http://www.aqualogo-engineering.ru/', target='_blank', style='background-image: url(images/design/partners/partner_1.jpg)')
			a.patner_item(href='http://www.izmailovsky-park.ru/', target='_blank', style='background-image: url(images/design/partners/partner_2.jpg)')
			a.patner_item(href='http://muar.ru/', target='_blank', style='background-image: url(images/design/partners/partner_3.jpg)')
			a.patner_item(href='http://www.multigrupp.ru/', target='_blank', style='background-image: url(images/design/partners/partner_4.jpg)')
			a.patner_item(href='http://www.interior.ru/', target='_blank', style='background-image: url(images/design/partners/partner_5.jpg)')
			a.patner_item(href='http://www.tatlin.ru/', target='_blank', style='background-image: url(images/design/partners/partner_6.jpg)')