extends ../layout

block title
	title ПУБЛИКАЦИИ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/publish.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)
	script(type='text/javascript', src='//e.issuu.com/embed.js', async='true')

block content
	.content_block_inner
		.issuuembed(data-configid='10593470/6462467')
		.issuuembed(data-configid='10593470/6462501')
		.issuuembed(data-configid='10593470/6462512')
		.issuuembed(data-configid='10593470/6462518')
		.issuuembed(data-configid='10593470/6462524')


