.content_block {
	/*min-height: 600px;*/
	width: 1240px;
	left: 50%;
	margin-left: -620px;
	position:  absolute;
	/*background-color: red;*/
}

input {
	font-size: 16px;
	margin-left: 3px;
}

textarea {
	font-size: 16px;
	margin-left: 3px;
}

.ru {
	width: 400px;
	display: inline-block;
	margin-right: 10px;
}

.en {
	width: 400px;
	display: none;
}

.img_preview {
	width: 350px;
	height: 200px;
	background-color: green;
}

.title, .description {
	font-size: 18pt;
}

.sub {
	cursor: pointer;
	font-size: 16pt;
}

.sub:hover {
	text-decoration: underline;
}

.form_images_upload {
  width: 435px;
  min-height: 160px;
  outline: 1px solid #f00;
  padding: 5px;
}

.form_desc_title {
  margin-bottom: 10px;
}

.image_upload_block {
  overflow: hidden;
  margin-bottom: 10px;
}

.image_upload_block:last-child {
  margin-bottom: 0px;
}

.image_upload_preview {
  width: 210px;
  height: 160px;
  margin-right: 5px;
  float: left;
  background-size: cover;
  background-position: center;
}

.image_upload_delete {
  background-color: #fff;
  color: #f00;
  font-size: 14px;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
}

.image_upload_delete:hover {
  color: #fff;
  background-color: #f00;
}

.image_upload_description {
  width: 214px;
  height: 154px;
  border: 1px solid #000;
  margin: 0;
}