.post_item_block {
	margin-bottom: 100px;
	outline: 1px solid black;
}

.post_img {
	width: 100%;
	height: auto;
}

.post_title {
	margin-top: 5px;
	margin-left: 5%;
	float: left;
	font: 16pt/18pt 'RobotoB';
	text-transform: uppercase;
	outline: 1px solid black;
}

.post_body {
	width: 63%;
	margin-top: 9px;
	margin-left: 32%;
	font: 12pt/14pt 'Roboto';
	outline: 1px solid black;
}

.post_social {
	margin-left: 4.9%;
	width: 100px;
	outline: 1px solid black;
}

@media screen and (max-width: 419px) {

	.post_body {
		clear: both;
		margin-left: 5%;
	}
}