.content_block_inner {
	max-width: 1240px;
	margin: 0 auto;
	min-width: 400px;
}

.menu_items a:nth-child(4) {
	/*text-decoration: underline;*/
	border-bottom: black 1px dotted;
}

.about_block {
	margin-right: 7px;
	max-width: 865px;
	float: left;
}

.about_block, .partners_block {
	margin-top: 35px;
}

.about_title {
	font: 14pt/16pt 'Roboto';
}

.about_description {
	width: 450px;
	margin-top: 5px;
	/*outline: 1px solid black;*/
	font: 9pt/13pt 'RobotoL';
}

.about_description p {
	margin: 0;
}

.partners_block {
	width: 783px;
	overflow: hidden;
}

.partners_title {
	font: 14pt/16pt 'Roboto';
}

.partners_list {
	margin-top: 2px;
}

.patner_item {
	width: 110px;
	height: 65px;
	float: left;
	background-size: cover;
	/*outline: 1px solid black;*/
	margin-right: 6px;
}

.patner_item:last-child {
	margin-right: 0px;
}

.patner_item:hover {
	background-position: 0px -64px;
}

#map-canvas {
	width: 1240px;
	height: 450px;
	margin: 0px;
	padding: 0px
}

.social_block {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 220px;
}

.social_block a {
	margin-right: 15px;
	color: #8b8b8b;
	text-decoration: none;
	font: 11pt/12pt 'Social';
}

.social_block a:hover {
	color: black;
}

/*
	Trash
 */


.about_description p:nth-child(3) {
	margin-right: 3px;
	float: left;
}

.patner_item:first-child {
	margin-right: -19px;
	height: 56px;
	background-size: 91%;
	background-repeat: no-repeat;
	margin-top: 6px;
}
.patner_item:first-child:hover {
	background-position: 0 -58px;
}