.content_block {
	left: 50%;
	margin-left: -620px;
	width: 1240px;
	outline: none;
}

.menu_items a:nth-child(4) {
	/*text-decoration: underline;*/
	border-bottom: black 1px dotted;
}

.about_block {
	float: left;
}

.about_block, .partners_block {
	margin-top: 35px;
}

.about_title {
	font: 14pt/16pt 'Roboto';
}

.about_description {
	width: 450px;
	margin-top: 5px;
	/*outline: 1px solid black;*/
	font: 9pt/13pt 'RobotoL';
}

.about_description p {
	margin: 0;
}

.partners_block {
	/*margin-top: 15px;*/
	margin-left: 70px;
	float: left;
}

.partners_title {
	font: 14pt/16pt 'Roboto';
}

.partners_list {
	margin-top: 10px;
}

.patner_item {
	width: 110px;
	height: 65px;
	float: left;
	background-size: cover;
	/*outline: 1px solid black;*/
	margin-right: 12px;
}

.patner_item:last-child {
	margin-right: 0px;
}

.patner_item:hover {
	background-position: 0px -64px;
}

#map-canvas {
	width: 1240px;
	height: 450px;
	margin: 0px;
	padding: 0px
}

.social_block {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 220px;
}

.social_block a {
	margin-right: 15px;
	color: #8b8b8b;
	text-decoration: none;
	font: 11pt/12pt 'Social';
}