@font-face {
	font-family: MyraR;
	src: url('/fonts/myra_regular.ttf');
}

@font-face {
	font-family: MyraL;
	src: url('/fonts/myra_light.ttf');
}

.menu_block {
	width: 90%;
	height: 30px;
	position: fixed;
	left: 50%;
	margin-top: 10px;
	margin-left: -45%;
	background-color: #449F98;
	text-align: center;
}

.menu_block a {
	margin-right: 5%;
	text-decoration: none;
}

.menu_block img {
	width: 22px;
	height: 22px;
}

.content_block {
	top: 100px;
	position: relative;
}