@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: RobotoM;
	src: url('/fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: RobotoB;
	src: url('/fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: RobotoL;
	src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: RobotoT;
	src: url('/fonts/Roboto-Thin.ttf');
}

@font-face {
	font-family: Social;
	src: url('/fonts/Social.ttf');
}

html, body, .maket {
	height: 100%;
}

body {
	overflow: hidden;
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
}

.maket {
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.menu_block {
	margin-top: 20px;
	position: absolute;
	text-align: center;
	z-index: 100;
	width: 100%;
}


.menu_block_inner {
	margin: 0 auto;
	background-color: rgba(255,255,255,0.7);
	height: 30px;
	position: relative;
	padding-left: 10px;
	max-width: 1247px;
	min-width: 635px;
}


.menu_items {
	left: 220px;
	position: absolute;
	/*top: 3px;*/
	margin: 0;
	right: 220px;
	text-align: center;
	white-space: nowrap;
	/*overflow: hidden;*/
}


.menu_items_inner {
	display: inline;
	margin: 0 auto;
}


.menu_items a {
	margin-top: 6px;
	margin-right: 45px;
	font: 11pt/13pt 'Roboto';
	display: inline-block;
	text-decoration: none;
	color: black;
}

.menu_items a:hover {
	border-bottom: black 1px dotted;
}

.logo {
	margin-top: 5px;
	margin-right: 190px;
	width: 17px;
	height: 17px;
	background: url('../images/design/logo.png') 50%;
	background-size: cover;
	font: 11pt/13pt 'Roboto';
	display: block;
	position: relative;
	float: left;
}

.logo:after {
	content: 'Народный архитектор';
	position: absolute;
	top: 1px;
	white-space: nowrap;
	left: 25px;
	font: 11pt/13pt 'Roboto';
	color: #000;
	text-align: left;
}

a.logo:hover {
	text-decoration: none;
}

a.logo:hover:after {
	border-bottom: black 1px dotted;
}


.content_block {
	width: 100%;
	min-height: 200px;
	margin-top: 80px;
	position: absolute;
	/*outline: 1px solid black;*/
}

.background_works {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-filter: brightness(75%);
	filter: brightness(75%);
}

.background_item {
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.toggle_lang_block {
    position: absolute;
    top: 7px;
    right: 7px;
    font: 9pt/13pt 'Roboto';
}

.toggle_lang_block:hover {
	/*background-color: rgba(255,255,255,1);*/
	cursor: default;
}

* {
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}