.content_block {
	width: 1240px;
	margin-left: -620px;
	left: 50%;
	position: absolute;
}

.works_block {
	overflow: auto;
}

.work_item {
	width: 120px;
	height: 120px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	text-decoration: none;
	color: black;
	/*outline: 1px solid black;*/
}

.work_item:nth-child(9n) {
	margin-right: 0px;
}

svg {
	/*outline: 1px solid black;*/
}

.urbanism svg {
	fill: #0bd7d8;
}

.architecture svg {
	fill: #ccff00;
}

.urban_projects svg {
	fill: #fde910;
}

.exhibitions svg {
	fill: #ff47ca;
}

.industrial_design svg {
	fill: #ed008c;
}

.navigation svg {
	fill: #ae00ff;
}

.graphic_design svg {
	fill: #6600ff;
}

.work_tag_title {
	margin-bottom: 10px;
	text-transform: uppercase;
	font: 14pt/16pt 'RobotoT';
}

.work_logo {
	width: 75px;
	height: 75px;
	display: block;
	position: relative;
	margin:0 auto;
}

.work_title {
	margin-top: 5px;
	margin-left: 21px;
	width: 75px;
	font: 8pt/10pt 'RobotoM';
	/*position: absolute;*/
}

.work_images {
	position: absolute;
	display: none;
}

.work_image {
	width: 120px;
	height: 120px;
	position: absolute;
	background-size: cover;
	background-position: center;
}

.sort_item {
	display: inline;
	cursor: pointer;
	margin-right: 10px;
}

.sort_item:hover {
	text-decoration: underline;
}

.works_tags_sort_block {
	text-align: center;
	width: 350px;
	background-color: rgba(255,255,255,0.7);
	font: 10pt/12pt 'RobotoL';
	position: fixed;
	top: 95%;
	left: 50%;
	margin-left: -175px;
	left: 50%;
}

.work_tag {
	/*outline: 1px solid black;*/
	overflow: auto;
}