.content_block {
	width: 1240px;
	margin-left: -620px;
	left: 50%;
	position: absolute;
	outline: none;
	/*outline: 1px solid black;*/
}

.works_block {
	overflow: auto;
}

.work_item {
	width: 120px;
	height: 120px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	text-decoration: none;
	color: black;
	/*outline: 1px solid black;*/
}

.work_item:nth-child(9n) {
	margin-right: 0px;
}

.urbanism .work_logo {
	color: #0bd7d8;
}

.architecture .work_logo {
	color: #ccff00;
}

.urban_projects .work_logo {
	color: #fde910;
}

.exhibitions .work_logo {
	color: #ff47ca;
}

.industrial_design .work_logo {
	color: #ed008c;
}

.navigation .work_logo {
	color: #ae00ff;
}

.graphic_design .work_logo {
	color: #6600ff;
}

.work_tag_title {
	margin-bottom: 10px;
	text-transform: uppercase;
	font: 14pt/16pt 'RobotoT';
}

.work_logo {
	width: 75px;
	height: 75px;
	display: block;
	position: relative;
	margin:0 auto;
	/*background-color: green;*/
	text-align: center;
	font: 75px/75px 'Fontello';
}

.work_title {
	margin-top: 5px;
	margin-left: 21px;
	width: 75px;
	font: 8pt/10pt 'RobotoM';
	/*position: absolute;*/
}

.work_images {
	position: absolute;
	display: none;
}

.work_image {
	width: 120px;
	height: 120px;
	position: absolute;
	background-size: cover;
	background-position: center;
}

.sort_item {
	display: inline;
	cursor: pointer;
	margin-right: 10px;
}

.sort_item:hover {
	text-decoration: underline;
}

.works_tags_sort_block {
	text-align: center;
	width: 350px;
	/*outline: 1px solid black;*/
	font: 10pt/12pt 'RobotoL';
	position: fixed;
	top: 95%;
	left: 50%;
	margin-left: 175px;
	left: 20%;
}

.work_tag {
	/*outline: 1px solid black;*/
	overflow: auto;
}