.content_block {
	width: 1240px;
	left: 50%;
	margin-left: -620px;
	outline: none;
}

.content_block, .menu_block {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu_block a:nth-child(2) {
	/*text-decoration: underline;*/
	border-bottom: black 1px dotted;
}

.work_description_block {
	width: 350px;
	min-height: 50px;
	float: right;
	padding: 5px;
	background-color: white;
	background-color: rgba(255,255,255,0.7);
}

.work_description_block:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,1);
}

.work_title {
	font: 12pt/14pt 'RobotoL';
	text-transform: uppercase;
	margin-bottom: 5px;
}

.work_title:hover {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.work_description {
	font: 10pt/12pt 'RobotoL';
}

* {
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}