.content_block {
	width: 1240px;
	left: 50%;
	margin-left: -620px;
	outline: none;
}

.content_block, .menu_block {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu_items a:nth-child(1) {
	/*text-decoration: underline;*/
	border-bottom: black 1px dotted;
}

.work_description_block {
	width: 350px;
	min-height: 50px;
	float: right;
	padding: 5px;
	background-color: white;
	background-color: rgba(255,255,255,0.7);
}

.work_description_block:hover {
	cursor: pointer;
	background-color: rgba(255,255,255,1);
}

.background_item:last-child {
	opacity: 1;
}

.work_item:first-child {
	display: block;
}

.work_title {
	font: 12pt/14pt 'RobotoL';
	text-transform: uppercase;
	margin-bottom: 5px;
}

.work_title:hover {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.work_description {
	font: 10pt/12pt 'RobotoL';
}

.footer_block {
	width: 100%;
	position: absolute;
	z-index: 999;
	top: 95%;
	text-align: center;
	-webkit-user-select: none;
}

.dot {
	margin-right: 15px;
	color: white;
	display: inline;
}

* {
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}