extends ../layout

block title
	title БЛОГ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/blog.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/blog.js' + version)


//- mixin trimString(str)
//- 	- for (var i = 150; i < str.length; i++) {
//- 		- if (str[i] == '.' || str[i] == '?' || str[i] == '!') {
//- 			str = str.substr(0, i+1)
//- 		- }
//- 	- }
//- 	!= str

mixin trimString(str)
	str = str.substr(0, 150)
	!= str

block content
	.content_block_inner
		each post in posts
			.post_item_block
				a.post_title(href='/blog/' + post.b_id)
					img.post_img(src=post.image)
				.post_dscription_block
					a.post_title(href='/blog/' + post.b_id)= post.ru.title
				.post_body
					//- +trimString(post.ru.body)
					!= post.ru.body.substr(0, 400) + '...'
		.scroll_top
			.top_text ▲ Наверх
