extends ../layout

block title
	title= post.ru.title

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/blog.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/blog.js' + version)

block content
	.post_item_block
		img.post_img(src=post.image)
		.post_title= post.ru.title
		.post_body= post.ru.body